{% extends 'base.html' %}

{% block content %}
    <h1>Views Basics</h1>

    <main>
    <ul>
    <li><a href="funktionally">Simple functional view named funktionally</a></li>
    <li><a href="danger?thing=WatchOut">An unsafe view named danger</a></li>
    <li><a href="danger?thing=%3Cscript%3Ealert%28%27Evil%20code%20has%20taken%20your%20computer!%27%29%3B%3C%2Fscript%3EI'mdonenow;-)">Evil
    JavaScript hijacks your computer</a></li>
    <li><a href="safer?thing=%3Cscript%3Ealert%28%27Evil%20code%20has%20taken%20your%20computer!%27%29%3B%3C%2Fscript%3E">Tame
    that JavaScript by escaping it</a></li>
    <li><a href="prettyurldata/42">Pretty URL Data</a></li>
    <li><a href="bounce">Bounce! Where will it take me?</a></li>
    <li><a href="{% url 'viewsbasics:apple' 1%}">Want some apples?</a></li>
    <li><a href="{% url 'viewsbasics:banana' 1%}">Want some bananas?</a></li>
    <li><a href="{% url 'viewsbasics:orange' 1%}">Want some oranges?</a></li>
    <li><a href="{% url 'viewsbasics:icecream'%}">What kind of icecream do you like?</a></li>
    <li><a href="{% url 'viewsbasics:bmi' 1 1%}">Calculate your bmi here. (Use URL parameters)</a></li>
    <li><a href="{% url 'viewsbasics:finalvelocity' 0 0 0%}">Calculate final velocity. (Use URL parameters)</a></li>
    </ul>
    </main>

{% endblock %}
